@page "/"

<AuthorizeView>
    <Authorized>
        <h3 href="Identity/Account/Manage">Hello, @context.User.Identity.Name!, los datos de sus miembros estan a salvo con nosotros</h3>
        <button class="mdc-button mdc-button--raised">
            <NavLink class="nav-link" href="indexIglesia">
                <span class="mdc-button__label">Miembros</span>
            </NavLink>
            </button>
    </Authorized>
    <NotAuthorized>
        <h2>No has iniciado sesion, no puede visualizar los miembros de su iglesia</h2>
        <img src="/Error.gif" asp-append-version="true" width="300px"/>
    </NotAuthorized>
</AuthorizeView>